name: Production

# Exclude the workflow to run on changes to the helm chart
on:
  push:
    branches:
      - Deploying
jobs:
  Kind-Cluster-Create:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Deployment
        uses: actions/checkout@v6
      - name: install kind
        run: |
         curl -Lo ./kind https://kind.sigs.k8s.io/dl/v0.23.0/kind-linux-amd64
         chmod +x ./kind
         sudo mv ./kind /usr/local/bin/kind
         kind version






      - name: kind Cluster 
        run: |
          cat <<EOF | kind create cluster --config=-
          kind: Cluster
          apiVersion: kind.x-k8s.io/v1alpha4
          nodes:
          - role: control-plane
            kubeadmConfigPatches:
            - |
              kind: InitConfiguration
              nodeRegistration:
                kubeletExtraArgs:
                  node-labels: "ingress-ready=true"
            extraPortMappings:
            - containerPort: 80
              hostPort: 80
              protocol: TCP
            - containerPort: 443
              hostPort: 443
              protocol: TCP
          EOF
      - name: Install the ingress controller
        run: |
          kubectl apply -f https://raw.githubusercontent.com/kubernetes/ingress-nginx/main/deploy/static/provider/kind/deploy.yaml
  Deploy-manifests:
    runs-on: ubuntu-latest
    needs: Kind-Cluster-Create
    steps:
      - name: Checkout Deployment
        uses: actions/checkout@v6
      - name: create users in db
        run: |
          cd ./kubernetes/authentication/mysql
           kubectl create secret generic mysql-secret \
             --from-literal=root-password='secure-root-pw' \
             --from-literal=auth-password='my-secret-pw' \
             --from-literal=secret-key='xco0sr0fh4e52x03g9mv'
      - name: deploy db
        run: |
          kubectl apply -f ./kubernetes/authentication/mysql/headless-service.yaml
          kubectl apply -f ./kubernetes/authentication/mysql/statefulset.yaml
          kubectl apply -f ./kubernetes/authentication/mysql/init-job.yaml
      - name: connect on db
        run: |
         kubectl apply -f ./kubernetes/authentication/service.yaml 
         kubectl apply -f ./kubernetes/authentication/deployment.yaml
      - name: create Service weather
        run: |
          cd ./kubernetes/weather
            kubectl create secret generic weather \
              --from-literal=apikey=dd14af1bc5msh2f2906c42d09a2fp1632d8jsnef251bbd6cc6
          kubectl apply -f ./kubernetes/weather/service.yaml
          kubectl apply -f ./kubernetes/weather/deployment.yaml
      - name: create UI service 
        run: |
          cd ./kubernetes/ui
             openssl req -x509 -nodes -days 365 -newkey rsa:2048 -keyout tls.key -out tls.crt -subj "/CN=weatherapp.local/O=weatherapp"
             kubectl create secret tls weatherapp-ui-tls --cert=tls.crt --key=tls.key
          kubectl apply -f ./kubernetes/ui/service.yaml
          kubectl apply -f ./kubernetes/ui/deployment.yaml
          kubectl apply -f ./kubernetes/ui/ingress.yaml

      
      